body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.clock {
   height: 500px;
   width: 500px;
   border: 15px double black;
   border-radius: 50%;
   position: relative;
}


.clock > div {
  height: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: left center;
}

.clock > div:first-child{
  background: blue;
  width: 180px;
}
.clock > div:nth-child(2){
  width: 240px;
  background: red;
}

.clock > div:last-child{
  width: 240px;
  background: black;
}
